/* Estilo geral do container */
.container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo do título do relatório */
.titulo-relatorio {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo do formulário de filtro */
.filtro-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Estilo dos campos do formulário */
.filtro-form .form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

/* Estilo do botão// do campo filtrar*/
.filtro-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
    width: 100%;
   
}

.filtro-form .btn-primary:hover {
    background-color: #87e028;
    border-color: #87e028;
}

/* Estilo da tabela */
.relatorio-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 16px;
}

.relatorio-tabela th, .relatorio-tabela td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.relatorio-tabela th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.relatorio-tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para as colunas */
.relatorio-tabela th:nth-child(1), .relatorio-tabela td:nth-child(1) {
    width: 10%; /* Largura para o Número de Coleta */
}

.relatorio-tabela th:nth-child(2), .relatorio-tabela td:nth-child(2) {
    width: 15%; /* Largura para a Data */
}

.relatorio-tabela th:nth-child(3), .relatorio-tabela td:nth-child(3) {
    width: 45%; /* Largura para o Nome do Cliente */
}

.relatorio-tabela th:nth-child(4), .relatorio-tabela td:nth-child(4) {
    width: 15%; /* Largura para o Valor Total */
}

/* Estilo para melhorar o layout em telas menores */
@media (max-width: 768px) {
    .filtro-form {
        flex-direction: column;
    }

    .filtro-form .col {
        width: 100%;
    }

    .totalizador {
        flex-direction: column;
        align-items: flex-start;
    }

    .relatorio-tabela th, .relatorio-tabela td {
        font-size: 14px;
        padding: 8px;
    }
}


